<header id="header-adicionar">
    <div>
        <span>{{dadosUser.nome}}</span>
    </div>

    <div>
        <a {{#if homeActive}} class="active-menu" {{/if}} href="/home">Contas</a> 
        <span class="text-white mx-1" style="opacity: .3;">|</span>
        <a {{#if adicionarActive}} class="active-menu" {{/if}} href="/adicionar">Adicionar</a>
    </div>
</header>



<div class="mb-4 container-btn-voltar-adicionar">
    <a class="btn-sair text-secondary" href="/">Voltar</a>
</div>


<main class="text-center pb-5 content-adicionar">
    <h1 class="text-success mb-5">Adicionar conta</h1>

    <form action="/adicionarConta" method="post" class="d-flex flex-column">

       <input type="hidden" value="{{dadosUser.id}}" name="userId">
     
       <input type="text" name="nome" class="form-control mb-3 w-75 mx-auto" required placeholder="Nome da conta">
       <input type="text" name="valor" class="form-control mb-3 w-75 mx-auto" required placeholder="Valor da conta" onkeypress="return apenasNumeros(event)" oninput="formatarValor(this)">
       <select name="parcela" class="form-control mb-3 w-75 mx-auto">
          <option value="1">Á vista</option>
          <option value="2">2x</option>
          <option value="3">3x</option>
          <option value="4">4x</option>
          <option value="5">5x</option>
          <option value="6">6x</option>
          <option value="7">7x</option>
          <option value="8">8x</option>
          <option value="9">9x</option>
          <option value="10">10x</option>
          <option value="11">11x</option>
          <option value="12">12x</option>
          <option value="13">13x</option>
          <option value="14">14x</option>
          <option value="15">15x</option>
          <option value="16">16x</option>
          <option value="17">17x</option>
          <option value="18">18x</option>
          <option value="19">19x</option>
          <option value="20">20x</option>
          <option value="21">21x</option>
          <option value="22">22x</option>
          <option value="23">23x</option>
          <option value="24">24x</option>
       </select>
       <input type="date" name="vencimento" class="form-control mb-3 w-75 mx-auto" required placeholder="Vencimento">
       <select name="lembrete" class="form-control mb-3 w-75 mx-auto">
           <option value="sim">Sim</option>
           <option value="não">Não</option>
       </select>


       <button type="submit" class="btn btn-success w-50 mt-3 mx-auto">Salvar Conta</button>

    </form>
</main>



<footer id="footer-login" class="text-center py-3 text-white mt-5">
    © 2023 Todos os direitos reservados.Criado por <a href="http://freeladev.online" style="color: orangered">Freela Dev</a>
</footer>

