<div class="d-flex flex-column justify-content-between vh-100">
    
    <header id="header-login" class="text-white p-2 d-flex justify-content-center algin-items-center">
        <span>Minhas Contas</span>
        <img class="ms-2" style="width: 17px; height:20px;" src="/img/grana.png">
    </header>
    
    
    <main>
        <div id="login">
        
            <h3 class="text-white fw-lighter mb-4">Digite sua nova senha!</h3>
        
            <form action="/salvarNovaSenha" method="post" class="d-flex flex-column">
                <input type="hidden" value="{{id}}" name="id">

                <input class="mb-3 form-control" type="password" name="senha" placeholder="Digite a nova senha*" required>
                <input class="mb-3 form-control" type="password" name="confirm" placeholder="Confirme a nova senha*" required>
        
                <button type="submit" class="btn btn-secondary">Recuperar</button>
                
                {{#if messages.senhasDiferentes}}
                   <p class="text-center text-danger mt-2">As senhas precisam ser iguais!</p>
                {{/if}}
            </form>
        </div>
    </main>
    
    
    <footer id="footer-login" class="text-center py-3 text-white">
         © 2023 Todos os direitos reservados.Criado por <a href="http://freeladev.online" style="color: orangered">Freela Dev</a>
    </footer>

</div>
