<div class="d-flex flex-column justify-content-between vh-100">
    
    <header id="header-login" class="text-white p-2 d-flex justify-content-center algin-items-center">
        <span>Minhas Contas</span>
        <img class="ms-2" style="width: 17px; height:20px;" src="/img/grana.png">
    </header>
    
    <main>
        <div id="register">
        
            <h3 class="text-white fw-lighter mb-4">Criar Conta</h3>
        
            <form action="/criarconta" method="post" class="d-flex flex-column">
                <input class="mb-3 form-control" type="text" name="nome" placeholder="Nome*" required>
                <input class="mb-3 form-control" type="email" name="email" placeholder="Email*" required>
                <input class="mb-3 form-control" type="text" name="user" placeholder="Usuário*" required>
                <input class="mb-3 form-control" type="password" name="senha" placeholder="Senha*" required>
                <input class="mb-4 form-control" type="password" name="confirm" placeholder="Repita a senha*" required>
        
                <button id="btn-criar" type="submit" class="btn btn-secondary">CRIAR</button>
            </form>

            {{#if messages.message}}
               <p class="text-danger mt-2">{{messages.message}}</p>
            {{/if}}
        </div>

        <div id="fazer-login">
             <span class="text-secondary">Já tem uma conta?</span>
             <a href="/">Entrar</a>
        </div>
    </main>
    
    
    <footer id="footer-login" class="text-center py-3 text-white">
         © 2023 Todos os direitos reservados.Criado por <a href="http://freeladev.online" style="color: orangered">Freela Dev</a>
    </footer>

</div>

