/*CONTAINER ALL*/
#container-all{
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 1000px){
    #container-all{
        width: 100%;
    }
}
/*CONTAINER ALL*/



.btn-sair{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 17px;
}
.btn-sair img{
    width: 30px;
}


.btn-menu{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 17px;
}
.btn-menu img{
    width: 33px;
    position: relative;
    z-index: 10 !important;
}


.active-menu{
    color: rgba(255, 255, 255, 0.619) !important;
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.53);
}


.submit-click-conta{
    background-color: transparent;
    width: 100%;
    border: none;
}


#division{
    height: 1px;
    width: 90%;
    background-color: rgba(128, 128, 128, 0.445);
    margin: 50px auto;
}


/*-----------------------------MENU ESCONDIDO-------------------------*/
#menu-escondido{
    position: fixed;
    right: 0;
    width: 0%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 65px;
}
/*-----------------------------MENU ESCONDIDO-------------------------*/



/*-------------------LOGIN---------------------*/
#header-login{
    background-color: #000000d7;
}

#login{
    background-color: #000000d7;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


#criar-conta{
    margin-top: 15px;
    text-align: center;
}


#criar-conta span{
    font-size: 12px;
}


#criar-conta a{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 10px;
    text-decoration: none;
}


#footer-login{
    background-color: #000000d7;
    font-size: 12px;
}

#footer-login a{
    text-decoration: none;
}


@media(min-width:800px){
    #login{
        width: 35% !important;
    }
}
/*-------------------LOGIN---------------------*/




/*---------------------REGISTER----------------------*/
#register{
    background-color: #000000d7;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


#fazer-login{
    margin-top: 15px;
    text-align: center;
}


#fazer-login span{
    font-size: 12px;
}


#fazer-login a{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 10px;
    text-decoration: none;
}


@media(min-width:800px){
    #register{
        width: 35% !important;
    }
}
/*---------------------REGISTER----------------------*/






/*------------------------HOME----------------------*/
#header-home{
    background-color: #000000d7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#header-home span{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#header-home a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all 400ms;
}

#header-home a:hover{
    color: rgba(255, 255, 255, 0.667);
}
/*------------------------HOME----------------------*/






/*-----------------------ADICIONAR------------------------*/
#header-adicionar{
    background-color: #000000d7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#header-adicionar span{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#header-adicionar a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all 400ms;
}

#header-adicionar a:hover{
    color: rgba(255, 255, 255, 0.667);
}
/*-----------------------ADICIONAR------------------------*/





/*----------------------POP UPS--------------------*/
#popup, .popup-acoes{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.242);
    color: white;
}

#popup .content-popup, .popup-acoes .content-popup{
    width: 90%;
    padding: 35px 25px;
}
/*----------------------POP UPS--------------------*/