.btn-sair{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-left: 17px;
}
.btn-sair img{
    width: 30px;
}


@media(min-width:991px){
    .container-btn-esquerdo-top-all{
        padding-left: 22%;
    }
}


.btn-menu{
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 17px;
}
.btn-menu img{
    width: 33px;
    position: relative;
    z-index: 10 !important;
}


.active-menu{
    color: rgba(255, 255, 255, 0.619) !important;
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.53);
}


.submit-click-conta{
    background-color: transparent;
    width: 100%;
    border: none;
}


#division{
    height: 1px;
    width: 90%;
    background-color: rgba(128, 128, 128, 0.445);
    margin: 50px auto;
}


/*-----------------------------MENU ESCONDIDO-------------------------*/
#menu-escondido{
    position: fixed;
    right: 0;
    width: 0%;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding-top: 65px;
}
/*-----------------------------MENU ESCONDIDO-------------------------*/



/*-------------------LOGIN---------------------*/
#header-login{
    background-color: #000000d7;
}

#login{
    background-color: #000000d7;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


#criar-conta{
    margin-top: 15px;
    text-align: center;
}


#criar-conta span{
    font-size: 12px;
}


#criar-conta a{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 10px;
    text-decoration: none;
}


#footer-login{
    background-color: #000000d7;
    font-size: 12px;
}

#footer-login a{
    text-decoration: none;
}


@media(min-width:991px){
    #login{
        width: 25% !important;
    }
}
/*-------------------LOGIN---------------------*/




/*---------------------REGISTER----------------------*/
#register{
    background-color: #000000d7;
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


#fazer-login{
    margin-top: 15px;
    text-align: center;
}


#fazer-login span{
    font-size: 12px;
}


#fazer-login a{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 4px 10px;
    margin-left: 10px;
    text-decoration: none;
}


@media(min-width:991px){
    #register{
        width: 25% !important;
    }
}
/*---------------------REGISTER----------------------*/






/*------------------------HOME----------------------*/
.main-content{
    height: 65vh; 
    overflow-y: auto;
}
@media(min-width:991px){
    .main-content{
        height: 90vh; 
    }
}


#header-home{
    background-color: #000000d7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
@media(min-width:900px){
    #header-home{
        justify-content: space-around;
    }
}

#header-home span{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#header-home a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all 400ms;
}

#header-home a:hover{
    color: rgba(255, 255, 255, 0.667);
}
/*------------------------HOME----------------------*/






/*-----------------------ADICIONAR------------------------*/
#header-adicionar{
    background-color: #000000d7;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

@media(min-width:900px){
    #header-adicionar{
        justify-content: space-around;
    }

    .container-btn-voltar-adicionar{
        padding-left: 15%;
    }

    .content-adicionar{
        height: 80vh;
    }
}

#header-adicionar span{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

#header-adicionar a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: all 400ms;
}

#header-adicionar a:hover{
    color: rgba(255, 255, 255, 0.667);
}
/*-----------------------ADICIONAR------------------------*/





/*----------------------POP UPS--------------------*/
#popup, .popup-acoes{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.242);
    color: white;
}

#popup .content-popup, .popup-acoes .content-popup{
    width: 90%;
    padding: 35px 25px;
}
@media(min-width:900px){
    #popup .content-popup, .popup-acoes .content-popup{
        width: 60%;
    }
}
/*----------------------POP UPS--------------------*/



/*--------------------PESQUISA-------------------*/
#footer-pesquisa{
    background-color: #000000d7;
    font-size: 12px;
}

#footer-pesquisa a{
    text-decoration: none;
}


@media(min-width:991px){
    .container-limpar-filtro{
         padding-left: 22%;
    }

    #footer-pesquisa{
        background-color: #000000d7;
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
    
    #footer-pesquisa a{
        text-decoration: none;
    }
}
/*--------------------PESQUISA-------------------*/




/*------------------VER CONTA---------------*/
#footer-verConta{
    background-color: #000000d7;
    font-size: 12px;
}

#footer-verConta a{
    text-decoration: none;
}

.content-ver-conta p{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 0px !important;
}

@media(min-width:991px){
    .content-ver-conta{
        height: 100vh !important;
    }

    .content-ver-conta p{
         margin: 0 auto;
         width: 50%;
         text-align: center;
         padding: 0px !important;
    }

    .container-btn-voltar-ver-conta{
        padding-left: 22%;
    }

    #footer-verConta{
        background-color: #000000d7;
        font-size: 12px;
        width: 100%;
    }
    
    #footer-verConta a{
        text-decoration: none;
    }
}

@media(min-width:1800px){
    .content-ver-conta{
        padding-top: 100px;
        height: 80vh !important;
    }
}
/*------------------VER CONTA---------------*/




/*---------------------EDITAR---------------------*/
@media(min-width:991px){
    .content-editar{
        height: 80vh;
    }
}
/*---------------------EDITAR---------------------*/